apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.app.secretName }}
  namespace: {{ .Values.namespace }}
  labels:
    conjur.org/managed-by-provider: "true"
    applicationId: {{ .Values.conjur.applicationId }}
type: Opaque
stringData:
  conjur-map: |-
    DB_USER:         epv/{{ .Values.conjur.lobUser }}/{{ .Values.conjur.safeName }}/{{ .Values.conjur.accounts.database }}/username
    DB_PASSWORD:     epv/{{ .Values.conjur.lobUser }}/{{ .Values.conjur.safeName }}/{{ .Values.conjur.accounts.database }}/password
    DB_DDL_USER:     epv/{{ .Values.conjur.lobUser }}/{{ .Values.conjur.safeName }}/{{ .Values.conjur.accounts.database_ddl }}/username
    DB_DDL_PASSWORD: epv/{{ .Values.conjur.lobUser }}/{{ .Values.conjur.safeName }}/{{ .Values.conjur.accounts.database_ddl }}/password
    ES_USER:         epv/{{ .Values.conjur.lobUser }}/{{ .Values.conjur.safeName }}/{{ .Values.conjur.accounts.elastic }}/username
    ES_PASSWORD:     epv/{{ .Values.conjur.lobUser }}/{{ .Values.conjur.safeName }}/{{ .Values.conjur.accounts.elastic }}/password
    CONFLUENCE_USERNAME: epv/{{ .Values.conjur.lobUser }}/{{ .Values.conjur.safeName }}/{{ .Values.conjur.accounts.confluence }}/username
    CONFLUENCE_PASSWORD: epv/{{ .Values.conjur.lobUser }}/{{ .Values.conjur.safeName }}/{{ .Values.conjur.accounts.confluence }}/password
